# Indexing

In [9]:
a = 'gulikak, sulikaak'
a

'gulikak, sulikaak'

In [10]:
a[0]

'g'

In [12]:
a[0:7]# if you want to print gulikak only 0 to 7 becuase it prints n-1 value

'gulikak'

In [13]:
len(a)

17

In [14]:
a[0:18]

'gulikak, sulikaak'

In [21]:
a.capitalize()

'Gulikak, sulikaak'

In [22]:
a.upper()

'GULIKAK, SULIKAAK'

In [23]:
a.lower()

'gulikak, sulikaak'

In [24]:
a.replace('gulikak', 'gulikaaka sulikaakas kar aalaw')

'gulikaaka sulikaakas kar aalaw, sulikaak'

In [25]:
a.count('k')

4

# Basic Data structures In Python.

#                    List.

In [1]:
# Python lists are container's
#  A set of values of any data type.
# List can be creating by using [].

In [6]:
a = [1,2,3,4,5,6,7,8,9,]
 # we can access any element of list As.

(a[0])

1

In [7]:
(a[0:9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
(a[ :3])

[1, 2, 3]

In [9]:
(a[-1])

9

In [10]:
(len(a))

9

#### Now we are going to learn some mehtods of list

In [16]:
# sorting the list ( in assending order)
a=[1,2,5,3,4,9,5,6,6,7,]
a.sort()
a

[1, 2, 3, 4, 5, 5, 6, 6, 7, 9]

In [17]:
#we can reverse the list by using (list.reverse) attribute
a.reverse()
a

[9, 7, 6, 6, 5, 5, 4, 3, 2, 1]

In [21]:
  # Now we are going to learn an important attribute through which we add the elments to the list
a.append(101)
a.append(11)
a

[9, 7, 6, 6, 5, 5, 4, 3, 2, 1, 10, 101, 11]

In [23]:
 # we can change the element of an list by using insert attritbute
a.insert(7,55)
a # remember it doesn't change the value it changes the index

[9, 7, 6, 6, 5, 5, 4, 55, 3, 2, 1, 10, 101, 11]

In [25]:
# if you want to delete the element of list you can use list.pop()
a.pop(7)
a     # remember it doesn't change the value it changes the index

[9, 7, 6, 6, 5, 5, 4, 3, 2, 1, 10, 101, 11]

In [26]:
 # If you want to deleate the value directily then use remove attribute
a.remove(101)
a

[9, 7, 6, 6, 5, 5, 4, 3, 2, 1, 10, 11]

In [ ]:
#PRACTICE SET OF LISTS AND TUPLES
f1=input("Enter fruit no. 1")
f2=input("Enter fruit no. 2")
f3=input("Enter fruit no. 3")
f4=input("Enter fruit no. 4")
f5=input("Enter fruit no. 5")
f6=input("Enter fruit no. 6")
f7=input("Enter fruit no. 7")
list=[f1,f2,f3,f4,f5,f6,f7,]
print(list)
#question no 2
m1=int(input("enter you marks Sno. 1"))
m2=int(input("enter you marks Sno. 2"))
m3=int(input("enter you marks Sno. 3"))
m4=int(input("enter you marks Sno. 4"))
m5=int(input("enter you marks Sno. 5"))
m6=int(input("enter you marks Sno. 6"))
listofmarksofstudens=[m1,m2,m3,m4,m5,m6]
listofmarksofstudens.sort()
print(listofmarksofstudens)

In [18]:
 # we can also sum up two lists
a=["Ture ", 22,33,55, 'false ',33]
b=['False ', 99,77,66,88, 'true', 99]
a+b

['Ture ', 22, 33, 55, 'false ', 33, 'False ', 99, 77, 66, 88, 'true', 99]

#                        Tuple
##          Tuple is an imutable(unchangable) data tupe in python
###    In Tuples we are going to learn two important methods.
1.   count method.(through which we can count the elements in tuple)
2.   Index method. (By this method we 
##### Ordered collection of elements are tuples
#####  Enclosed in ( )  round braces/paranthesis
##### Different kind of elements can be stored 
#### Once element are stored you can't change them .As  tuples are unmutable

In [7]:
#TUPLES is an immutable datatype(we cant change any thing in tuple)
# there are just two important methods used in the tuple
# the first one  is count
a=(1,2,3,4,4,4,4,4,4,5,4,4,4,5,4,5,6,)
print(a.count(4))#we can find how many times a particuler element is used
print(a.index(5))#this used to find the index of particuler value

#question no 3


#question no. 4
a=(3,5,66,3,6,3)
print(a[0] +a[1] +a[2] +a[4] +a[5] +a[3])
# #o
#print(sum(a))
#qurstion no 5
a=(7,0,8,0,0,9)
a=a.count(0)
print(a)

10
9
86
3

In [11]:
# indexing of tuples 
 a=(9,8, "Afreen", 99,27,22)
a[ :5]

(9, 8, 'Afreen', 99, 27)

In [12]:
#length of tuples
len(a)

6

In [15]:
# we can also know the min. or max. value of tuple
a=(23,33,54,55,44,34,63,12,44)
min(a)

12

In [16]:
max(a)

63

In [17]:
 # Also we can write tuple multiple times by just multiplying the to the tuple
    
a*2

(23, 33, 54, 55, 44, 34, 63, 12, 44, 23, 33, 54, 55, 44, 34, 63, 12, 44)

In [ ]:
# Also we can add two or more than two tuples which is called(Concatinate)